In [19]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import numpy as np
%matplotlib inline

In [20]:
df = pd.read_csv('originalfile.csv',engine='python')

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AGE     499 non-null    int64
 1   FEMALE  499 non-null    int64
 2   LOS     499 non-null    int64
 3   RACE    499 non-null    int64
 4   TOTCHG  499 non-null    int64
 5   APRDRG  499 non-null    int64
dtypes: int64(6)
memory usage: 23.5 KB

In [22]:
df.head(10)

   AGE  FEMALE  LOS  RACE  TOTCHG  APRDRG
0   17       1    2     1    2660     560
1   17       0    2     1    1689     753
2   17       1    7     1   20060     930
3   17       1    1     1     736     758
4   17       1    1     1    1194     754
5   17       0    0     1    3305     347
6   17       1    4     1    2205     754
7   16       1    2     1    1167     754
8   16       1    1     1     532     753
9   17       1    2     1    1363     758

In [23]:
df.describe()

,AGE,FEMALE,LOS,RACE,TOTCHG,APRDRG
count,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000
mean,5.096192,0.511022,2.829659,1.078156,2777.631263,616.312625
std,6.952706,0.500380,3.366657,0.514746,3891.632405,178.491837
min,0.000000,0.000000,0.000000,1.000000,532.000000,21.000000
25%,0.000000,0.000000,2.000000,1.000000,1218.500000,640.000000
50%,0.000000,1.000000,2.000000,1.000000,1538.000000,640.000000
75%,13.000000,1.000000,3.000000,1.000000,2530.500000,751.000000
max,17.000000,1.000000,41.000000,6.000000,48388.000000,952.000000

In [24]:
df.columns

Index(['AGE', 'FEMALE', 'LOS', 'RACE', 'TOTCHG', 'APRDRG'], dtype='object')

In [25]:
df.tail() # Check the bottom 5 rows

     AGE  FEMALE  LOS  RACE  TOTCHG  APRDRG
494    0       1    6     1    5881     636
495    0       1    2     1    1171     640
496    0       1    2     1    1171     640
497    0       1    2     1    1086     640
498    0       0    4     1    4931     640

# Missing Data
Some columns have missing values. For our analysis, we only want to keep rows with complete data.
Note that "NaN" stands for "Not a Number" and means the data is missing.

In [26]:
# This will give us a list of the columns that contain NaN 
# NaN stands for "Not a Number", or that there is no value in there (it's missing)
# Note: edit your file to get rid of the null entries until the code returns False for all columns
pd.isnull(df).sum() > 0

AGE       False
FEMALE    False
LOS       False
RACE      False
TOTCHG    False
APRDRG    False
dtype: bool